a {
  color: #2d6a4f;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #40916c;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Source Sans Pro', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

strong {
  font-family: 'Source Sans Pro', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-family: 'Source Sans Pro', Verdana, Helvetica, sans-serif;
  font-size: 22px;
}

.papertitle {
  font-family: 'Source Sans Pro', Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.name {
  padding-top: 20px;
  margin: 0;
  font-family: 'Source Sans Pro', Verdana, Helvetica, sans-serif;
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.colored-box {
    color: black;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}